<!DOCTYPE html>
<html>
	<head>
		<!-- Basic Page Info -->
		<meta charset="utf-8" />
		<title>Firefly - Tracking Fire spots</title>

		<link rel="icon" href="images/banner-images/firefly.png" type="image/x-icon">

		<!-- Site favicon -->
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="vendors/images/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="vendors/images/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="vendors/images/favicon-16x16.png"
		/>

		<!-- Mobile Specific Metas -->
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1"
		/>

		<!-- Google Font -->
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
			rel="stylesheet"
		/>
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="vendors/styles/core.css" />
		<link
			rel="stylesheet"
			type="text/css"
			href="vendors/styles/icon-font.min.css"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="src/plugins/datatables/css/dataTables.bootstrap4.min.css"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="src/plugins/datatables/css/responsive.bootstrap4.min.css"
		/>
		<link rel="stylesheet" type="text/css" href="vendors/styles/style.css" />

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-GBZ3SGGX85"
		></script>
		<script
			async
			src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2973766580778258"
			crossorigin="anonymous"
		></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-GBZ3SGGX85");
		</script>
		<!-- Google Tag Manager -->
		<script>
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
				j.async = true;
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, "script", "dataLayer", "GTM-NXZMQSS");
		</script>
		<!-- End Google Tag Manager -->
	</head>
	<body>
		<div class="pre-loader">
			<div class="pre-loader-box">
				<div class="loader-logo">
					<h1>Firefly</h1>
				</div>
				<div class="loader-progress" id="progress_div">
					<div class="bar" id="bar1"></div>
				</div>
				<div class="percent" id="percent1">0%</div>
				<div class="loading-text">Loading...</div>
			</div>
		</div>

		<div class="header">
			<div class="header-left">
				<div class="menu-icon bi bi-list"></div>
				<div
					class="search-toggle-icon bi bi-search"
					data-toggle="header_search"
				></div>
				<div class="header-search">
					
				</div>
			</div>
			<div class="header-right">
				<div class="dashboard-setting user-notification">
					<div class="dropdown">
						<a
							class="dropdown-toggle no-arrow"
							href="javascript:;"
							data-toggle="right-sidebar"
						>
							<i class="dw dw-settings2"></i>
						</a>
					</div>
				</div>
				<div class="user-notification">
					<div class="dropdown">
						<a
							class="dropdown-toggle no-arrow"
							href="#"
							role="button"
							data-toggle="dropdown"
						>
							<i class="icon-copy dw dw-notification"></i>
							<span class="badge notification-active"></span>
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<div class="notification-list mx-h-350 customscroll">
								<ul>
									<li>
										<a href="#">
											
											<h3>Sistema Firefly</h3>
											<p>
												Seja bem vindo ao sistema Firefly
											</p>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="user-info-dropdown">
					<div class="dropdown">
						<a
							class="dropdown-toggle"
							href="#"
							role="button"
							data-toggle="dropdown"
						>
						<div style="margin-top: 5%; width: 100px;">
							<span class="user-name">Menu</span>
						</div>
						</a>
						<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
							<a class="dropdown-item" href="/dashboard" class="dw dw-user1"></i> Come back to home page</a>		
							<a class="dropdown-item" href="/lerUsuario" class="dw dw-user1"></i> Profile</a>						
							<a class="dropdown-item" href="/logout"><i class="dw dw-logout"></i> Log Out</a>
						</div>
					</div>
				</div>
				
			</div>
		</div>

		<div class="right-sidebar">
			<div class="sidebar-title">
				<h3 class="weight-600 font-16 text-blue">
					Layout Settings
					<span class="btn-block font-weight-400 font-12"
						>User Interface Settings</span
					>
				</h3>
				<div class="close-sidebar" data-toggle="right-sidebar-close">
					<i class="icon-copy ion-close-round"></i>
				</div>
			</div>
			<div class="right-sidebar-body customscroll">
				<div class="right-sidebar-body-content">
					<h4 class="weight-600 font-18 pb-10">Header Background</h4>
					<div class="sidebar-btn-group pb-30 mb-10">
						<a
							href="javascript:void(0);"
							class="btn btn-outline-primary header-white active"
							>White</a
						>
						<a
							href="javascript:void(0);"
							class="btn btn-outline-primary header-dark"
							>Dark</a
						>
					</div>

					<h4 class="weight-600 font-18 pb-10">Sidebar Background</h4>
					<div class="sidebar-btn-group pb-30 mb-10">
						<a
							href="javascript:void(0);"
							class="btn btn-outline-primary sidebar-light"
							>White</a
						>
						<a
							href="javascript:void(0);"
							class="btn btn-outline-primary sidebar-dark active"
							>Dark</a
						>
					</div>

					<h4 class="weight-600 font-18 pb-10">Menu Dropdown Icon</h4>
					<div class="sidebar-radio-group pb-10 mb-10">
						<div class="custom-control custom-radio custom-control-inline">
							<input
								type="radio"
								id="sidebaricon-1"
								name="menu-dropdown-icon"
								class="custom-control-input"
								value="icon-style-1"
								checked=""
							/>
							<label class="custom-control-label" for="sidebaricon-1"
								><i class="fa fa-angle-down"></i
							></label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input
								type="radio"
								id="sidebaricon-2"
								name="menu-dropdown-icon"
								class="custom-control-input"
								value="icon-style-2"
							/>
							<label class="custom-control-label" for="sidebaricon-2"
								><i class="ion-plus-round"></i
							></label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input
								type="radio"
								id="sidebaricon-3"
								name="menu-dropdown-icon"
								class="custom-control-input"
								value="icon-style-3"
							/>
							<label class="custom-control-label" for="sidebaricon-3"
								><i class="fa fa-angle-double-right"></i
							></label>
						</div>
					</div>

					<h4 class="weight-600 font-18 pb-10">Menu List Icon</h4>
					<div class="sidebar-radio-group pb-30 mb-10">
						<div class="custom-control custom-radio custom-control-inline">
							<input
								type="radio"
								id="sidebariconlist-1"
								name="menu-list-icon"
								class="custom-control-input"
								value="icon-list-style-1"
								checked=""
							/>
							<label class="custom-control-label" for="sidebariconlist-1"
								><i class="ion-minus-round"></i
							></label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input
								type="radio"
								id="sidebariconlist-2"
								name="menu-list-icon"
								class="custom-control-input"
								value="icon-list-style-2"
							/>
							<label class="custom-control-label" for="sidebariconlist-2"
								><i class="fa fa-circle-o" aria-hidden="true"></i
							></label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input
								type="radio"
								id="sidebariconlist-3"
								name="menu-list-icon"
								class="custom-control-input"
								value="icon-list-style-3"
							/>
							<label class="custom-control-label" for="sidebariconlist-3"
								><i class="dw dw-check"></i
							></label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input
								type="radio"
								id="sidebariconlist-4"
								name="menu-list-icon"
								class="custom-control-input"
								value="icon-list-style-4"
								checked=""
							/>
							<label class="custom-control-label" for="sidebariconlist-4"
								><i class="icon-copy dw dw-next-2"></i
							></label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input
								type="radio"
								id="sidebariconlist-5"
								name="menu-list-icon"
								class="custom-control-input"
								value="icon-list-style-5"
							/>
							<label class="custom-control-label" for="sidebariconlist-5"
								><i class="dw dw-fast-forward-1"></i
							></label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input
								type="radio"
								id="sidebariconlist-6"
								name="menu-list-icon"
								class="custom-control-input"
								value="icon-list-style-6"
							/>
							<label class="custom-control-label" for="sidebariconlist-6"
								><i class="dw dw-next"></i
							></label>
						</div>
					</div>

					<div class="reset-options pt-30 text-center">
						<button class="btn btn-danger" id="reset-settings">
							Reset Settings
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="left-side-bar">
			<div class="brand-logo">
				<a href="index.html">
					<span style="color: black;">Firefly</span>
				</a>
				<div class="close-sidebar" data-toggle="left-sidebar-close">
					<i class="ion-close-round"></i>
				</div>
			</div>
			<div class="menu-block customscroll">
				<div class="sidebar-menu">
					<ul id="accordion-menu">
						
						<li>
							<a href="/lerUsuario" class="dropdown-toggle no-arrow">
								<span class="micon bi bi-home4-week"></span
								><span class="mtext">My Account</span>
							</a>
						</li>
						
						<li>
							<a href="/dashboard" class="dropdown-toggle no-arrow">
								<span class="micon bi bi-home4-week"></span
								><span class="mtext">Dashboard</span>
							</a>
						</li>

						<li>
							<div class="dropdown-divider"></div>
						</li>

						<li>
							<a href="/complaints" class="dropdown-toggle no-arrow">
								<span class="micon bi bi-home4-week"></span
								><span class="mtext">Make Complaints</span>
							</a>
						</li>
						<li>
							<a href="/map_complaint" class="dropdown-toggle no-arrow">
								<span class="micon bi bi-home4-week"></span
								><span class="mtext">Map global Complaints</span>
							</a>
						</li>
						<li>
							<a href="/mapa" class="dropdown-toggle no-arrow">
								<span class="micon bi bi-home4-week"></span
								><span class="mtext">Wildfire map</span>
							</a>
						</li>
						<li>
							<a href="/risc" class="dropdown-toggle no-arrow">
								<span class="micon bi bi-home4-week"></span
								><span class="mtext">Future Risc Discover</span>
							</a>
						</li>
						<li>
							<a href="/ia-records" class="dropdown-toggle no-arrow">
								<span class="micon bi bi-home4-week"></span
								><span class="mtext">Ambiental Impact</span>
							</a>
						</li>				
					</ul>
				</div>
			</div>
		</div>
		<div class="mobile-menu-overlay"></div>

		<div class="main-container">
			<div class="xs-pd-20-10 pd-ltr-20">
			
				</div>

				<div class="row">
									
				</div>

				<div class="card-box pb-10">
					<div class="h5 pd-20 mb-0">Future Risc of fire</div>
					<table class="data-table table nowrap">
						<thead>
						
						</thead>

						






























                        
						
					


					
						<tbody>
							
							<div class="container-fluid">
								<div class="row">
									<div class="col-lg-6"><br><br>

										<style>
											.number-animation {
											  font-size: 36px;
											  font-weight: bold;
											}
										
											.level-of-risk {
											  font-size: 18px;
											  font-weight: bold;
											  display: inline-block;
											  padding: 5px 10px;
											  border-radius: 5px;
											}
										
											/* Cores para os diferentes níveis de risco */
											.minimo { background-color: darkgreen; color: white; }
											.baixo { background-color: lightgreen; }
											.medio { background-color: yellow; }
											.alto { background-color: orange; color: white; }
											.critico { background-color: crimson; color: white; }
										
											/* Estilos para a legenda */
											.legend {
											  margin-top: 20px;
											}
										
											.legend-item {
											font-size: 18px;
											  font-weight: bold;
											  display: inline-block;
											  padding: 5px 10px;
											  border-radius: 5px;
											  border-style: solid;
											  border: black;
											}
										  </style>

										  
										<center>

											<br>
										<span style="font-weight: bold; font-family: 20pt;">Index of future (30 days) of danger</span>

										<br><br><br>
										<span style="font-weight: bold; font-size: 20pt;"><div class="number-animation" id="animated-number">0</div></span>
										<br>Level of Risc: <div class="level-of-risk" id="risk-level"></div>
										</center>
										
									</div>
									<div class="col-lg-6">
										<center><!-- Legenda -->
											<div class="legend">
											  <div class="legend-item minimo">Minimun Risc RFF &lt; 0,15</div>
											  <br><br>
											  <div class="legend-item baixo">Low Risc 0,15 ≤ RFF &le; 0,40</div>
											  <br><br>
											  <div class="legend-item medio">Medium Risc 0,40 ≤ RFF &le; 0,70</div>
											  <br><br>
											  <div class="legend-item alto">High Risc 0,70 ≤ RFF &le; 0,95</div>
											  <br><br>
											  <div class="legend-item critico">Critic RIsc RFF &gt; 0,95</div>
											  <br><br>
											</div></center>
									</div>
								</div>
								<br><br>
							</div>
							<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
							<script>
								// Valor dinâmico obtido da variável RFF
								
								const RFF = <%= RFF %>;
								
								// Função para animar o número com o valor dinâmico e definir o nível de risco
								function animateNumberWithDynamicValue(dynamicValue) {
								  const animatedNumberElement = document.getElementById('animated-number');
								  const riskLevelElement = document.getElementById('risk-level');
								  let currentNumber = 0;
								  const animationDuration = 3000; // Duração da animação em milissegundos
								  const interval = 50; // Intervalo de atualização em milissegundos
							  
								  const increment = (dynamicValue - currentNumber) / (animationDuration / interval);
							  
								  const intervalId = setInterval(() => {
									currentNumber += increment;
									animatedNumberElement.textContent = Math.round(currentNumber);
							  
									if (currentNumber >= dynamicValue) {
									  clearInterval(intervalId);
									  animatedNumberElement.textContent = dynamicValue; // Garante que o número final seja exibido corretamente
							  
									  // Defina o nível de risco com base no valor dinâmico
									  if (dynamicValue < 0.15) {
										riskLevelElement.textContent = 'Mínimo';
										riskLevelElement.className = 'level-of-risk minimo';
									  } else if (dynamicValue <= 0.40) {
										riskLevelElement.textContent = 'Baixo';
										riskLevelElement.className = 'level-of-risk baixo';
									  } else if (dynamicValue <= 0.70) {
										riskLevelElement.textContent = 'Médio';
										riskLevelElement.className = 'level-of-risk medio';
									  } else if (dynamicValue <= 0.95) {
										riskLevelElement.textContent = 'Alto';
										riskLevelElement.className = 'level-of-risk alto';
									  } else {
										riskLevelElement.textContent = 'Crítico';
										riskLevelElement.className = 'level-of-risk critico';
									  }
									}
								  }, interval);
								}
							  
								// Inicie a animação com o valor dinâmico (RFF)
								window.addEventListener('load', function() {
								  animateNumberWithDynamicValue(RFF);
								});
							  </script>
							  

						</tbody>

						




















































					</table>
				</div>

				<br>

				

				<div class="footer-wrap pd-20 mb-20 card-box">
					Firefly
				</div>
			</div>
		</div>
		
	
		<!-- welcome modal end -->
		<!-- js -->
		<script src="vendors/scripts/core.js"></script>
		<script src="vendors/scripts/script.min.js"></script>
		<script src="vendors/scripts/process.js"></script>
		<script src="vendors/scripts/layout-settings.js"></script>
		<script src="src/plugins/apexcharts/apexcharts.min.js"></script>
		<script src="src/plugins/datatables/js/jquery.dataTables.min.js"></script>
		<script src="src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
		<script src="src/plugins/datatables/js/dataTables.responsive.min.js"></script>
		<script src="src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
		<script src="vendors/scripts/dashboard3.js"></script>
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
				height="0"
				width="0"
				style="display: none; visibility: hidden"
			></iframe
		></noscript>
		<!-- End Google Tag Manager (noscript) -->
	</body>
</html>